
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>groupLight</title>
</head>
<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1000px;overflow: auto" onload="tableLoad()">
    <div class="notice_main">
        <h6>订单管理列表</h6>
        <div class="notice_check">
            <label class="">订单编号查询</label> <input type="text" class="find_input">
            <label class="">产品名查询：</label> <input type="text" class="find_input">
            <button class="check_btn">查询</button>
            <div class="notice_nav r_right">
                <a class="btn btn-default" onclick="dataLead()"><span class="glyphicon glyphicon-plus"></span>新增</a>
                <a class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>删除</a>
            </div>
        </div>
        <table id="table" class="table_style" style="margin: 0 auto"> </table>
    </div>
    <script src="~/PeiZhi/js/jquery/jQuery-2.2.0.min.js"></script> 
    <script src="~/PeiZhi/js/bstable/js/bootstrap.min.js"></script>
    <script src="~/PeiZhi/js/bstable/js/bootstrap-table.js"></script>
    <script src="~/PeiZhi/js/bstable/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/PeiZhi/js/layer_v2.1/layer/layer.js"></script>
    <script src="~/PeiZhi/js/groupLight.js"></script>
</body>
</html>