
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Logion</title>
    <link href="~/PeiZhi/css/MemberLogin.css" rel='stylesheet' type='text/css' />
</head>
<body style="overflow: hidden;">
    <div class="main">
        <div class="login-form">
            <h1>河长制后台管理</h1>
            <div class="head"><img src="~/PeiZhi/img/adminLogin.png" alt="" /></div>
            <form id="loginForm">
                <input type="text" id="username" placehoder="用户名" />
                <input type="password" id="password" placehoder="登录密码" />
                <select id="sys">
                    <option value="1">帅哥</option>
                    <option value="2">美女</option>
                    <option value="3">天才</option>
                </select>
                <div class="submit">
                    <input type="button" value="登录" id="OKLogin" class="butSyley" onclick="OK()"/>
                    <input type="checkbox" id="rememberMe" /><label class="lableStyle">记住密码</label>
                    <a href="#" class="aSyle">忘记密码?</a>
                </div>

            </form>
        </div>
    </div>
    <div class="loginBtn">
        <p>版权所有2017杭州天夏科技集团有限公司</p>
    </div>
    <script src="~/PeiZhi/js/jquery/jquery-3.4.1.min.js"></script>
    <script>

        $(function () {
            
        });

        function OK() {
            $.ajax({
                type: "post",
                dataType: "text",
                data: { "name": $("#username").val(), "pwd": $("#password").val() },
                url: "/JiangTao/IFLogion",
                success: function (result) {
                    alert(result);
                    if (result == "登录成功!") {
                        location.href = "/JiangTao/Index";
                    }
                },
                error: function (ex) {
                    alert(ex.responseText);
                }
            });
        }
    </script>
</body>
</html>
