
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EntrepotUpdate</title>
    <link href="~/PeiZhi/css/table.css" rel="stylesheet" />
    <link href="~/PeiZhi/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="~/PeiZhi/js/bstable/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1000px;overflow: auto">
    <div class="news_main" style="margin-left:5%;margin-top:1%;">
        <table>
            <tr>
                <td>
                    仓库名称：
                </td>
                <td><input type="text" style="width:241px;" id="txtName" /></td>
            </tr>
            <tr>
                <td height="5"></td>
            </tr>
            <tr>
                <td>仓库地址：</td>
                <td><input type="text" style="width:241px;" id="txtDizhi" /></td>
            </tr>
            <tr>
                <td height="5"></td>
            </tr>
            <tr>
                <td>仓库创建时间：</td>
                <td><input type="text" style="width:241px;" id="txtTime" /></td>
            </tr>
            <tr>
                <td height="5"></td>
            </tr>
            <tr>
                <td>仓库状态：</td>
                <td><input type="text" style="width:241px;" id="txtCangKu" /></td>
            </tr>
            <tr>
                <td height="10"></td>
            </tr>
        </table>
        <div style="width:300px;float:left;margin-left:40px;">
            <div style="width:145px;float:left;"><a class="btn btn-default" onclick="IDUpdate()"><span class="glyphicon glyphicon-plus"></span>编辑</a></div>
            <div style="width:145px;float:left;"><a class="btn btn-default" onclick="Cancel()"><span class="glyphicon glyphicon-remove"></span>取消</a></div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    var id = 0;
    $(function () {
        id =@Request.QueryString["id"];
        IDSelect(id);
    });
    function Cancel() {
        if (confirm('确认取消吗？')) {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }
    }
    function Cancel2() {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }
    function DateTime(op) {
        var date = new Date(parseInt(op.substr(6)));
        return date.toLocaleDateString();
    }
    function IDSelect(id) {
        $.ajax({
            type: "post",
            url: "/DonQingShan/GoCount",
            data: "{Id:'" + id + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#txtName").val(result[0].CKName);
                $("#txtDizhi").val(result[0].CKDiZhi);
                $("#txtTime").val(DateTime(result[0].CKChuanJianTime));
                $("#txtCangKu").val(result[0].CKType);
            }
        });
    }
    function IDUpdate() {
        id =@Request.QueryString["id"];
        $.ajax({
            type: "post",
            url: "/DonQingShan/CKUpdate",
            data: "{ck:{CKId:'" + id + "',CKName:'" + $("#txtName").val() + "',CKDiZhi:'" + $("#txtDizhi").val() + "',CKChuanJianTime:'" + $("#txtTime").val() + "',CKType:'" + $("#txtCangKu").val() + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert('编辑成功！');
                    Cancel2();
                    parent.location.reload();
                } else {
                    alert('编辑失败！');
                }
            }
        });
    }
</script>